*.iml
*.xcworkspace/
*~
.DS_Store
.github/
.gradle/
.idea/
.metadata/
.settings/
Podfile.lock
Pods/
bin/
bower_components/
build/
coverage.em
coverage/
instrumentation/
junit-reports/
local.properties
node_modules/
proguard-project.txt
xcuserdata
.buckd/
buck-out/
mobile_sdk/
package-lock.json
package-lock.json.*
npm-debug.log
yarn-error.log
*.jsbundle
.vscode/
*.xx*
.temp/
.data/
*.sqlite
*.sqlite*
*.sqbpro
/.docs